	<div id="imagegallery">
	 	<img class="rotatingimage" src="images/lupa.jpg">
	 	<img class="rotatingimage" src="images/people.jpg">
	 	<img class="rotatingimage" src="images/people1.jpg">
	 	<img class="rotatingimage" src="images/people2.jpeg">
	 	<img class="rotatingimage" src="images/join.jpg">
<!-- <%= current_user %> -->
<% if current_user == false %>
<div id="login">
	<form id="logform" method="POST">
	  <label>Email: </label><input id="lgi1" name="email" placeholder="email" /><br />
	  <label>Password: </label><input id="lgi2" type="password" name="password" placeholder="password" /><br />
	  <input id="lgb" type="submit" value="Log In" />
	  </form><br />
<button id='Hb1'><a class="homelog" href="/recover">Forgot account?</a> </button>
<button id='Hb2'><a class="homelog" href="/registration">Sign Up</a></button>
</div>
</div>

<h2 id="error_message"><%= @error%><%= @error2%></h2>

<% else %>

<h2 id="greeting">Welcome <%= current_user.fname %> <%= current_user.lname %></h2>

<% end %>
