<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <title></title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script type="text/javascript" src="/main.js"></script>
</head>
<body>
 <% if current_user == false %> 
 <nav id="navbar">
    <ul>
      <% $menu_2.each do |item| %>
        <li><a  href="<%= item[:href] %>"><%= item[:page] %></a></li>
      <% end %>
    </ul>
  </nav>
 <% else %>
  <nav id="navbar">
    <ul>
      <% $menu.each do |item| %>
        <li><a  href="<%= item[:href] %>"><%= item[:page] %></a></li>
      <% end %>
        <li><%= @greeting%></li>
    </ul>
  </nav>
  <% end %>
<%= yield %>
</body>
</html>