<style type="text/css">
 .button {
    position: relative;
    right: 10px;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


#ProfilePage
{
    /* Move it off the top of the page, then centre it horizontally */
position: absolute;
left: 290px;
    margin: 150px auto;
    width: 635px;

/* For visibility. Delete me */
border: 1px solid red;
}

#LeftCol
{
    /* Move it to the left */
    float: left;

    width: 200px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 20px;

/* For visibility. Delete me */
border: 1px solid brown;
}

#Photo
{
    /* Width and height of photo container */
    width: 200px;
    height: 200px;

/* For visibility. Delete me */
border: 1px solid green;
}

#PhotoOptions
{
    text-align: center;
    width: 200px;

/* For visibility. Delete me */
border: 1px solid brown;
}

#Info
{
    width: 400px;
    text-align: center;

    /* Move it to the right */
    float: right;

/* For visibility. Delete me */
border: 1px solid blue;
}

#Info strong
{
    /* Give it a width */
    display: inline-block;
    width: 100px;

/* For visibility. Delete me */
border: 1px solid orange;
}

#Info span
{
    /* Give it a width */
    display: inline-block;
    width: 250px;

/* For visibility. Delete me */
border: 1px solid purple;
}
</style>

<div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo"></div>
        <div id="ProfileOptions">
        <%=@username %>
        </div>
    </div>

    <div id="Info">
        <p> 
            <strong>User Name:</strong>
          <span> <%=@user.username %> </span>
        </p>
     

        <p>
            <strong>First Name:</strong>
            <span> <%= @user.fname %> </span>
        </p>
        <p>
            <strong>Last Name:</strong>
            <span> <%=@user.lname %></span>
        </p>
        <p>
            <strong>Email:</strong>
            <span> <%=@user.email%> </span>
        </p>
        <p>
            <strong>Gender:</strong>
            <span> <%=@user.gender%> </span>
        </p>

            <p>
            <strong> Comment History: </strong>
            <span id="infobox"> </span>
            </p>
    </div>

<button  onclick="location.href='/editpersonal'" class="button">EDIT PROFILE</button>
    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>